<!-- <link href="css/about_page/style.css" rel="stylesheet"> -->
<link rel="stylesheet" href="css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- <link href="css/about_page/gijgo.min.css" rel="stylesheet"> -->
<!-- <link href="css/about_page/nice-select.css" rel="stylesheet"> -->
<!-- <link href="css/about_page/all.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="css/about_page/style.css">
<link rel="stylesheet" type="text/css" href="css/new-web.css">
<section class="breadcrumb1 breadcrumb_bg1" style="background-image: url('../images/breadcrumb22.png');">
<style type="text/css">

    @media (max-width: 754px) {
    .row{
        margin-left: 15px;
        margin-right: 15px;
    }
    .media-body {
    width: 288px !important;
    text-align: justify;
}
.container{
    width: 330px;
}
}
.fontStyle{
    font-size: 40px !important;
    color: #2c3033 !important;
    line-height: 1.25 !important;
    font-weight: 700 !important;
    position: relative !important;
    z-index: 1 !important;
}
._2FpcR {
    font-size: 40px;
    font-weight: 500;
}
.text-center {
    text-align: center !important;
}
 .datepicker-container{
  display: none;
}
</style>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner1 text-center ">
                        <div class="breadcrumb_iner_item1">
                            <h2 class="h2_text">About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="review_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="fornStyle">
                        <div class="_2FpcR">ABOUT <span style="color: #ff6426">MOM</span></div>
                        <!-- <p>Testimonials</p> -->
                        <!-- <h2 class="fornStyle">ABOUT <span>MOM</span></h2> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <p>In today’s life most of the people stay away from their native place and miss mom food. So, using this mobile app MOM- Mother On Mission, one can order fresh “mom cooked healthy food” anytime and stay healthy.</p>

                    <p>The main objective of the founders of this app is to provide all healthy mom cooked food from all the regions of India and to keep alive some recipes which are getting extinct with women of every home.</p>

                    <p >Our company “Mother On Mission” (MOM) will collect the home cooked hygienic food from various MOMs (non working women) and will deliver it to all who miss mom cooked food in this busy society. We are working to provide a platform for women and is basically for their empowerment. All the recipes of the MOMs will be delivered in the market with their own names and identities which will makes them the “ MOMBOSS”. You will just have to cook some more what you cook the best and its our responsibility to make it a brand. So, please come and join MOM so that your food will not be food only it will be a brand.</p>

                    <p>Want tasty MOM cooked food delivered at your doorstep? Install MOM app now and order food from different MOM Chefs in your locality.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="review_part gray_bg section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Testimonials</p>
                        <h2>Customers Feedback</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <div class="client_review_part owl-carousel">
                        <div class="client_review_single media">
                            <div class="client_img align-self-center"><img alt="" src="images/shivam.png"></div>
                            <div class="client_review_text media-body">
                                <p style="font-family: Lora, serif;">Family and I have eaten here several times. Love the food, the best place in town! Thank you to the Chef and the cooks that prepare the delicious food.</p>
                                <h4>Shivam Agrawal <span></span></h4>
                            </div>
                        </div>
                        <div class="client_review_single media">
                            <div class="client_img align-self-center"><img alt="" src="images/saurabh.png"></div>
                            <div class="client_review_text media-body">
                                <p style="font-family: Lora, serif;">I have visited too many Indian restaurants and this is my favorite by far. The food is amazing and worth the drive.</p>
                                <h4>Saurabh Kumar <span></span></h4>
                            </div>
                        </div>
                        <div class="client_review_single media">
                            <div class="client_img align-self-center"><img alt="" src="images/sameer.png"></div>
                            <div class="client_review_text media-body">
                                <p style="font-family: Lora, serif;">Fantastic food..ask for medium spicy and not spicy if you do not intend to spend on dessert..which too btw was delicious..must go..this place is better than any other Indian food I have had in this area.</p>
                                <h4>Sameer Raj<span></span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="chefs_part blog_item_section section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Team Member</p>
                        <h2>Our Experience Chefs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img"><img alt="" src="images/aunty1.png"></div>
                        <div class="single_blog_text text-center">
                            <h3>Eshwari</h3>
                            <p>Chef Master</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img"><img alt="" src="images/aunty2.png"></div>
                        <div class="single_blog_text text-center">
                            <h3>Mamta Singh</h3>
                            <p>Chef Master</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_blog_item">
                        <div class="single_blog_img"><img alt="" src="images/aunty3.png"></div>
                        <div class="single_blog_text text-center">
                            <h3>Urmila Devi</h3>
                            <p>Chef Master</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 d-none d-sm-block d-lg-none">
                    <div class="single_blog_item">
                        <div class="single_blog_img"><img alt="" src="img/team/chefs_1.png"></div>
                        <div class="single_blog_text text-center">
                            <h3>Justin Stuard</h3>
                            <p>Chef Master</p>
                            <div class="social_icon">
                                <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a> <a href="#"><i class="ti-skype"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
