<link rel="stylesheet" type="text/css" href="css/new-web.css">
<style type="text/css">
	/*body{
		background-color: #e9ecee;
	}*/
     .datepicker-container{
  display: none;
}
	._23yP3 {
    padding-bottom: 136px;
    background: #f4f4f5;
    position: relative;
}
._1AtiL {
    background: #fff;
    padding-top: 16px;
}
._3v0Oe {
    padding: 0 16px 0 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.Qhtk1 {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #eef0f5;
}
._38vxc {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.07rem;
    font-weight: 600;
    color: #3d4152;
}
.wk7IU {
    margin: 0 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
._3XM9Y {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #7e808c;
    font-size: .86rem;
    margin-top: 3px;
}
._2yBRr {
    margin-top: 20px;
}
._1NeZ7 {
    margin-top: 15px;
}
._1zE-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}
._15wOa {
    font-size: 10px;
    color: green;
    margin-right: 8px;
    padding-top: 6px;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-foodSymbol:before {
    content: "\E92E";
}
._3v-Q2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding-top: 1px;
}
._1DnwP {
    font-weight: 500;
    line-height: 1.4rem;
}
._2pWL- {
    width: 82px;
    height: 26px;
    background: #fff;
    border: 1px solid #e9e9eb;
    margin-left: 30px;
    font-size: .86rem;
    color: #7e808c;
    position: relative;
    contain: content;
}
._1H238 {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 27.33333px;
    height: 100%;
    text-align: center;
}
._33Vfv {
    position: absolute;
    left: 27.33333px;
    width: 27.33333px;
    text-align: center;
    height: 100%;
    line-height: 24px;
    color: #60b246;
    font-weight: 600;
}
.QSzbj {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 27.33333px;
    color: #60b246;
    font-weight: 600;
    height: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 1.5rem;
}
._31p1C {
    color: #3d4152;
    font-size: 1rem;
    padding-top: 3px;
    font-weight: 500;
}
.LwgZu:before {
    content: "\20B9";
}
._1zE-m:last-child {
    margin-bottom: 0;
}
._3n7uu {
    color: #ad4728;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-foodSymbol:before {
    content: "\E92E";
}
._3v-Q2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding-top: 1px;
}
._1HI1y {
    padding: 0 16px 0 16px;
    margin-top: 15px;
}
._1yRZa {
    border-top: 1px solid #e9e9eb;
}
._1WaOu {
    background: inherit;
    padding: 20px 0 16px;
}
._2aPcD {
    position: relative;
    overflow: auto;
}
._2S55X {
    padding-top: 0;
    margin-top: 0;
}
.U8s7d {
    padding-left: 0;
    padding-right: 0;
}
._3SJO5 {
    color: #282c3f;
    font-size: 24px;
    margin-right: 12px;
}
.icon-offersOutline:before {
    content: "\E946";
}
.hkIgw {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._3zjTB {
    color: #3d4152;
    font-size: 1.07rem;
    font-weight: 500;
}
._1afMj {
    margin-left: 10px;
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
._1EsgC {
    font-size: 13px;
    color: #bebfc5;
}
._3uEXI {
    height: 16px;
    margin: 0 -16px 20px;
    background-color: #f4f4f5;
}
._2sSwD {
    font-weight: 500;
    font-size: 1.07rem;
}
.dMf8y {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1DYnm {
    width: 100%;
}
.qNh0b {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._3V2AK:before {
    content: "\20B9";
}
.XP__f {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1DYnm {
    width: 100%;
}
._2_UzK {
    margin-left: 6px;
    position: relative;
    top: 1px;
    font-size: 12px;
    display: inline-block;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.qNh0b {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._3V2AK:before {
    content: "\20B9";
}
._1BMTS {
    margin: 20px 0;
    height: 1px;
    display: block;
    background: #e3e3ea;
}
.XP__f {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1DYnm {
    width: 100%;
}
._2_UzK {
    margin-left: 6px;
    position: relative;
    top: 1px;
    font-size: 12px;
    display: inline-block;
}
._28p4o:last-child {
    margin-right: 0;
}
.ebTvJ {
    background: #fc8019;
    color: #fff;
    border: 0!important;
}
._28p4o {
    margin-right: 16px;
    height: 40px!important;
    width: 100%;
}
.qNh0b {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._3V2AK:before {
    content: "\20B9";
}
._1BMTS {
    margin: 20px 0;
    height: 1px;
    display: block;
    background: #e3e3ea;
}
._1BMTS+.dMf8y {
    margin-top: 0;
}
._Xz8c {
    font-weight: 600;
    font-size: 1.07rem;
    color: #3d4152;
}
._3nvlr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._1DYnm {
    width: 100%;
}
.qNh0b {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}
._3u1kN {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.XCitJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: pre-wrap;
}
._3V2AK:before {
    content: "\20B9";
}
._1WMhj {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 136px;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #f4f4f5;
}
._3BR9v {
    padding: 20px 16px 16px 16px;
    height: 100%;
}
.VZLvW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._3HIlh {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
._2yaR9 {
    font-weight: 600;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
._37cOm {
    font-size: 1.3rem;
    font-weight: 600;
}
._3JEuV {
    font-size: .86rem;
    color: #7e808c;
    margin-top: 2px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.iINRn {
    margin-top: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
._28p4o:last-child {
    margin-right: 0;
}
.ebTvJ {
    background: #fc8019;
    color: #fff;
    border: 0!important;
}
._28p4o {
    margin-right: 16px;
    height: 40px!important;
    width: 100%;
}
/*.J3pgo {
    background: #282c3f;
    color: #fff;
    border: 1px solid #282c3f;
}*/
.r5vwW {
    outline: 0;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.05);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.dMf8y {
    margin-top: 8px;
    font-weight: 300;
    color: #3d4152;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
._6a6S4 {
    background: #fff;
    padding: 17px 16px 17px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
._2CpAN {
    padding: 0 16px 0 16px;
    margin: 16px 0 0;
    padding-top: 20px;
    padding-bottom: 24px;
    background: #fff;
}
._2qXI0 {
    font-size: 11px;
    width: 100%;
    padding: 14px 0;
    outline: 0;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    caret-color: #fc8019;
    font-weight: 300;
    border: 0;
}
._15wOa {
    font-size: 10px;
    color: green;
    margin-right: 8px;
    padding-top: 6px;
}
._1zE-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}
._31p1C, ._3WYdE {
    margin-left: 17px;
    min-width: 45px;
    text-align: right;
}
.YtkFu {
    width: 82px;
    height: 26px;
}
._2WrBX {
    padding: 0 16px 0 16px;
}
#main-wrapper{
    background-color: #e9ecee;
}
.field-wrapper input:not([disabled]):focus~.field-placeholder, .field-wrapper.hasValue input:not([disabled])~.field-placeholder {
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-39px) translateX(-84px);
}
</style>
<style type="text/css">
    #tb {width: 300px;}
.pac-item { font-size: small; }
#place_details, #error {
    padding: 10px;
    background: #FFFED1;
    border: 2px dotted black;
}
#error {
    background: #E3ACBA;
}
#place_details p {
    clear: both;
    width: 400px;
    font-weight: bold;
}

#place_details p span {
    display: block;
    width: 250px;
    float: right;
    font-weight: normal;
}
.row{
    margin-left: 15px;
    margin-right: 15px;
}  
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 6px;
    line-height: 1.5;
    border-radius: 3px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.field-wrapper input:not([disabled]):focus~.field-placeholder, .field-wrapper.hasValue input:not([disabled])~.field-placeholder {
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-39px) translateX(-60px);
}
.label-primary {
    background-color: transparent;
    color: black;
}
.field-wrapper .field-placeholder{
    margin-bottom:16 !important;
}
.modal {
    display: none;
    position: fixed;
    /*z-index: 1;*/
    /*padding-top: 100px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
@media (max-width: 754px) {
  ._2sMsA{
    width: auto !important;
  }
  ._1rwo5 {
    width: 58% !important;
    margin-left: 0px;
    }
    ._1rwo51 {
    width: 83% !important;
    margin-left: 0px;
    }
    .pad_right{
        padding-right: 0px;
    }
    .mobile_panel{
    width: 91% !important;
    margin-left: -15px;
    }
    .footer-links ul li a{
        font-size: 11px;
    }
    ._2sd1x{
        width: 58%;
    }
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
  ._3-bcQ {
    /*max-width: 1200px;*/
    min-width: 600px;
    position: relative;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    margin-top: 31px;
    margin-bottom: 150px;
}
.field-wrapper .field-placeholder span{
    font-size: 10px;
}
._1rwo5:last-child{
    margin-bottom: 26px;
}

}
.fa {
     font-size: 14px !important; 
}
.field-wrapper .field-placeholder{
    cursor: auto;
}
</style>
<div id="main-wrapper">
	<div class="nDVxx _340-t">
		<div class="_3-bcQ row" ng-show="non_empty_cart">
			<div class="col-md-7">
				<div>
					<div class="_1rwo5"  ng-show="login_form">						
                        <div class="F8Sye">
							<div class="_2YrH-">
								Logged in
							</div>
							<div class="C2lmo _3za0v">
								<div class="_2C3aj _1eJQw">
									<span class="_1ZSwS icon-tickRound"></span>
								</div>
							</div>
						</div>
                        <!-- </a> -->
						<div class="_3Frck">
							<div class="QgO5l">
								{{name}}
							</div>
							<div>
								{{mobile}}
							</div>
						</div>
					</div>

                    <div class="_1rwo5" ng-show="login_page">
                        <div class="F8Sye">
                            <div class="_2YrH-">
                                Account
                            </div>
                        </div>
                        <div class="vt2tt">
                            <div class="_2axtv">
                                To place your order now, log in to your existing account or sign up.
                            </div>
                            <!-- <img alt="" class="_2tuBw _12_oN _1W4Wt" height="140" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_147,h_140/Image-login_btpq7r" width="147"> -->
                            <div class="_1HQdx">
                                <a href="/#!/login">
                                    <div class="C6mS- y9pNN">
                                        <div class="_2eTQn">
                                            Have an account?
                                        </div>
                                        <div class="POo4b">
                                            LOG IN
                                        </div>
                                    </div>
                                </a>
                                <a href="/#!/page-register">
                                <div class="OsNTr y9pNN">
                                    <div class="_2eTQn">
                                        New to MOM?
                                    </div>
                                    <div class="POo4b">
                                        SIGN UP
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        <!-- <div class="_250uQ _26MRf"></div> -->
                        <!-- <div class="_2b4pY">
                            <span class="_1q8J4 icon-user-checkout"></span>
                        </div> -->
                    </div>
                    
					<div class="_1rwo5"  ng-show="address_list">
						<div class="F8Sye">
							<div class="_2YrH-">
								Select delivery address
							</div>
						</div>
						<div>
							<span class="_38EYL">You have a saved address in this location</span>
							<div class="-brc1 row">
								<div class="col-md-6" ng-repeat="address in address_list">
									<div class="_3p8Mf">
										<div class="WtfuC _3mJDe">
											<span class="icon-location"></span>
										</div>
										<div>
											<div class="_2xgU6">
												{{address.name}}
											</div>
											<div class="KYAcN">
												{{address.address}}
											</div>
                                            <div class="KYAcN" style="display: none;">
                                                {{address.latitude}}
                                            </div>
                                            <div class="KYAcN" style="display: none;">
                                                {{address.longitude}}
                                            </div>
											<div class="_3w1k-">
                                                <span>Mobile No.</span>
                                                <span>{{address.mobile}}</span>
												
											</div>
                                            <div class="_3w1k-">
                                                <span>Alternate Mobile No.</span>
                                                <span> {{address.phone_number}}</span>
                                               
                                            </div>
                                            <a ng-click="deliverAddress(address)">
    											<div class="_3dNWs">
    												Deliver Here
    											</div>
                                            </a>
										</div>
									</div>
								</div>
								<div class="col-md-6" ng-show="address_list">
									<div class="_3p8Mf Ldi91">
										<div class="WtfuC _3mJDe">
											<div class="icon-location"></div>
											<div class="_2_VIS">
												+
											</div>
										</div>
										<div>
											<div class="_2xgU6">
												Add new Address
											</div>
											
                                            <a href="" ng-click="addAddress()">
											<div class="_3dNWs _1AS3P">
												Add New
											</div></a>
										</div>
									</div>
								</div>
							</div>                           
						</div>
					</div>
                    <div class="_1rwo5" ng-show="add_address">
                        <div class="F8Sye">
                            <div class="_2YrH-">
                                Select delivery address
                            </div>
                        </div>
                        <div>
                            <span class="_38EYL">You have a saved address in this location</span>
                           <div >
                                 <div>
                                    <div class="_3Um38 _9Wk87 field-wrapper form-group">
                                        <input id="user_name" class="_381fS" name="" type="text" value="" style="cursor: auto;">
                                        <!-- <div class="_2EeI1 _26LFr"></div> -->
                                        <div class="field-placeholder"><span>Name</span></div>
                                        <!-- <label class="_1Cvlf _2tL9P"></label> -->
                                    </div>
                                </div>
                                <div>
                                    <div class="_3Um38 _9Wk87 field-wrapper form-group">
                                        <input id="phone_number" class="_381fS" name="" type="tel" value="" maxlength="10" style="cursor: auto;">
                                        <!-- <div class="_2EeI1 _26LFr"></div><label class="_1Cvlf _2tL9P">Mobile</label> -->
                                        <div class="field-placeholder"><span>Mobile</span></div>
                                        
                                    </div>
                                </div>
                                <div>
                                    <div id="map"></div>
                                    <div class="_3Um38 _9Wk87 field-wrapper form-group">
                                        <input id="demo1" class="_381fS" name="" type="text" value="" placeholder="" style="cursor: auto;">
                                        <!-- <div class="_2EeI1 _26LFr"></div><label class="_1Cvlf _2tL9P">Address</label> -->
                                        <div class="field-placeholder"><span>Address</span></div>
                                        <input id="lat1" style="display: none;">
                                        <input id="lon1" style="display: none;">
                                    </div>
                                </div>        
                                <div class="jbXOs">
                                    <div class="field-wrapper form-group">
                                        <div class="_3Um38 _9Wk87">
                                            <input id="flat_no" class="_381fS" name="" type="text" value="" placeholder="" style="cursor: auto;">
                                            <!-- <div class="_2EeI1 _26LFr"></div><label class="_1Cvlf _2tL9P">House No. / Flat No. / Floor / Building</label> -->
                                            <div class="field-placeholder"><span>House No. / Flat No. / Floor / Building</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="padding-right: 40px; width: 477px;">
                                    <div class="gbzB0">
                                        <div class="_25qBi">
                                            <a class="_2sd1x" ng-click="addAddressMethod()"><input style="display: none;" type="submit">SAVE ADDRESS &amp; PROCEED</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <div class="_1rwo5 _1Ak49 _34Whq" ng-show="deliver_address">
                        <div class="F8Sye">
                            <div class="_2YrH-">
                                Delivery address
                            </div>
                            <div class="C2lmo _3za0v">
                                <div class="_2C3aj _1eJQw">
                                    <span class="_1ZSwS icon-tickRound"></span>
                                </div>
                            </div>
                        </div>
                        <div class="_2zPJt">
                            <a ng-click="showAddressList()">
                                <div class="_1IPhI">
                                    Change
                                </div>
                            </a>
                            <div class="_2kejs">
                                {{name}}
                            </div>
                            <div class="_1QRRt">
                                {{address}}
                            </div>
                            <div class="_1__JV">
                                {{mobile}}
                            </div>
                        </div>
                    </div>
					<div>
						<div class="_1rwo5" ng-show="payment_card">
							<div class="F8Sye _1rtRz">
								<div class="_2YrH-">
									Payment Method
								</div>

							</div>
                            <div class="row">
                                <form>
                                  <input id="cashValue" type="radio" name="gender" value="cash" ng-click="cashMethod()" > Cash<br>
                                  <input id="paytmValue" type="radio" name="gender" value="paytmValue" ng-click="paytmMethod()" checked> Online Payment<br>
                                  <!-- <input type="radio" name="gender" value="other"> Other   -->
                                </form> 
                                </div>
						</div>
					</div>
				</div>
			</div>
			
            <div class="_2sMsA col-md-5">
                    <div class="_1rwo5 _1rwo51">                      
                        <form class="login-input">
                            <div class="field-wrapper form-group">
                                <input type="text" name="user_notes" id="user_notes">
                                <div class="field-placeholder"><span>Cooking suggestions to MOM</span></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 mobile_panel">
                      <!-- <h4 class="M_o7R _27PKo">Cart</h4> -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12"><span class="panel-title">Order Summary</span></div>
                                    <!-- <div class="col-md-4"><span>Today is: {{getDate()}}</span></div> -->
                                    <!-- <div class="col-md-3 col-md-push-1"><span>Total Orders - </span><span class="badge">{{totOrders}}</span></div> -->
                                </div>
                            </div>
                            <div class="panel-body" style="max-height:250px; overflow:auto;">
                                <div class="text-warning" ng-hide="order.length">
                                    Nothing ordered yet!
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="item in order">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <span class="badge badge-left" ng-bind="item.qty"></span>
                                            </div>
                                            <div class="col-md-4">
                                                {{item.itemName}}
                                            </div>
                                            <div class="col-md-1">
                                                <div class="label label-success">{{item.fullPrice * item.qty }}</div>
                                            </div>
                                           <!--  <div class="col-md-1 col-md-push-1">
                                                <div class="label label-warning">{{item.fullPrice | currency:"Rs:": 0}}</div>
                                            </div> -->
                                            <div class="col-md-2 col-md-push-2">
                                                <button class="btn btn-warning btn-xs" ng-click="removeOneEntity(item)">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                                <button class="btn btn-success btn-xs" ng-click="addToOrder(item,1)">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>                                        
                                            </div>
                                            <div class="col-md-1 col-md-push-2">
                                                <button class="btn btn-danger btn-xs" ng-click="removeItem(item)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div  id="myBtn" class="_2aJip" role="button" aria-label="Apply Coupon" ng-show="apply_coupon" ng-click="modal_open()">
                                <i class="icon-offers-coupon _2W5PY"></i> Apply Coupon
                            </div>
                            <div class="_2eFfS" ng-show="applied_coupon">
                                <div class="_2ksRx">
                                    <div class="_2CuZt">{{promo}}</div>
                                <div class="jO5AL">Offer applied on the bill</div>
                            </div>
                                <span role="button" aria-label="Remove" class="_1cXUn" ng-click="removePromo()">Remove</span>
                            </div>
                            <div class="panel-footer" ng-show="order.length">
                                <h3><span class="label label-primary">Items Total: {{getTotal()}}</span></h3>
                            </div>
                            <div class="panel-footer" ng-show="order.length">
                                <h4><span class="label label-primary">Sub Total(Inclusive Tax): </span><span id="sub_total" class="label label-primary" style="float: right;"><i class="fa fa-inr" aria-hidden="true"></i>  {{(((getTotal() * 5) / 100) + getTotal()).toFixed(2)}}</span></h4>
                                <input type="text" name="" value="{{((getTotal() * 5) / 100) + getTotal()}}" style="visibility: hidden;">
                                <span class="label label-primary" style="visibility: hidden;">+ Tax</span> 
                                <span id="tax_value" class="label label-primary" style="float: right;display: none;"><i class="fa fa-plus" aria-hidden="true"></i> <i class="fa fa-inr" aria-hidden="true"></i> {{(getTotal() * 5) / 100}}</span><br>
                                <span class="label label-primary">+ Delivery</span> <span id="delivery_value" class="label label-primary" style="float: right;"><i class="fa fa-plus" aria-hidden="true"></i> <i class="fa fa-inr" aria-hidden="true"></i>{{delivery_val}}</span><br>
                                <span class="label label-primary">+ Promo Code</span> <span id="promo_code" class="label label-primary" style="float: right;" ><i class="fa fa-minus" aria-hidden="true"></i> <i class="fa fa-inr" aria-hidden="true"></i><span ng-show="promo_apply_price"> {{total_price}}</span><span ng-show="promo_withoutapply_price">0.0</span></span>
                                <!-- <span class="label label-primary" style="float: right;"  >- <i class="fa fa-inr" aria-hidden="true"></i></span> -->
                                <br>
                                <h3 ng-show="total_apply_promo"><span class="label label-primary">Total </span><span id="total_amount" class="label label-primary" style="float: right;"><i class="fa fa-inr" aria-hidden="true"></i>{{(dis_price) + (delivery_val)}}</span></h3>
                                <h4 ng-show="total_withoutapply_promo"><span class="label label-primary">Total </span><span class="label label-primary" style="float: right;"  id="total_amount1"><i class="fa fa-inr" aria-hidden="true"></i> {{((((getTotal() * 5) / 100) + getTotal()) + delivery_val).toFixed(2)}}</span></h4>
                            </div>
                            <div class="panel-footer" ng-show="order.length">
                                <div>
                                    <form action="https://securegw.paytm.in/order/process" name="ss" id="paytm_form">
                                       <table border="1">
                                          <tbody>
                                             <input id="MID" type="hidden" name="MID" value="">
                                             <input id="WEBSITE" type="hidden" name="WEBSITE" value="">
                                             <input id="ORDER_ID" type="hidden" name="ORDER_ID" value="">
                                             <input id="CUST_ID" type="hidden" name="CUST_ID" value="">
                                             <input id="INDUSTRY_TYPE_ID" type="hidden" name="INDUSTRY_TYPE_ID" value="">
                                             <input id="CHANNEL_ID" type="hidden" name="CHANNEL_ID" value="">
                                             <input id="TXN_AMOUNT" type="hidden" name="TXN_AMOUNT" value="">
                                             <input id="CALLBACK_URL" type="hidden" name="CALLBACK_URL" value="">
                                             <input id="CHECKSUMHASH" type="hidden" name="CHECKSUMHASH" value="">
                                          </tbody>
                                       </table>
                                       <!-- <button onclick="paytm.submit()">onclick</button> -->
                                       <span class="btn btn-default btn-marginTop" ng-click="clearOrder()" ng-disabled="!order.length">Clear</span>
                                       <!-- placed order online paynment button -->
                                       <button id="paytm_btn" class="btn btn-danger btn-marginTop"  ng-click="generateOrder($event)" ng-disabled="!order.length"style="width: 50%;background-color: #60b246;border-color: #60b246;"  ng-show="place_order2">Place Your Order <i class="fa fa-arrow-circle-o-right" aria-hidden="true" style="color: white;"></i></button>

                                       <!-- placed order Cash button -->
                                        <span class="btn btn-danger btn-marginTop" ng-click="placed_order()" ng-disabled="!order.length"style="width: 50%;background-color: #60b246;border-color: #60b246;" ng-if="cashValue == 'cash'" ng-show="placed_order1">Place Your Order 
                                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true" style="color: white;"></i></span>
                                         <script type="text/javascript">
                                          // document.paytm.submit();
                                       </script>
                                       <a href="/#!/login">
                                    <span class="btn btn-danger btn-marginTop" ng-show="login_btn" style="width: 50%;background-color: #60b246;border-color: #60b246;">Log in</span></a>
                                    <span class="btn btn-danger btn-marginTop" ng-show="addres_btn" style="width: 50%;background-color: #60b246;border-color: #60b246;" ng-click="addAddressPopup()">Add Address</span>
                                    </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	</div>        
        <div class="nDVxx _340-t" ng-show="empty_cart">
            <div class="_10-lm">
                <div class="_3a391"></div>
                <div class="_3Y9ZP">
                    Your cart is empty
                </div>
                <div class="d7jCU">
                    You can go to home page to view more MOMCHEF
                </div>
                <a href="#!/main/home">
                    <div class="_3pgCg">
                    See MOMCHEF near you
                    </div>
                </a>                
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal" role="dialog" ng-show="modal_dis">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"
                style="position: absolute;top: -16px;right: -16px;cursor: pointer;height: 32px;width: 32px;background: #fff;border-radius: 16px;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);border: 1px solid #e7eceb;text-align: center;font-size: 0px;opacity: 1;z-index:10"
                ng-click="modal_dis()"><img src="images/close.png" style="height: 30px"></button>
            <div class="modal-body" style="overflow-y: auto;height: 500px;">
                <div class="row">
                    <!-- <div class="row">                        -->
                        <div class="_1hryr col-md-6" ng-repeat="offer in offerList" style="border: 1px solid lightgrey;padding: 19px;border-radius: 6px;margin-bottom: 10px">
                            <!-- <div class="KVykS -QmN-"> -->
                                <div>
                                    <div>
                                        <img class="_33BbS" src="{{offer.image}}" style="height: 120px;">
                                        <div class="_3x0ey">
                                            <div class="_2fpj9 _2Vb6W">
                                                <!-- <img class="_33BbS" src="{{offer.image}}" width="20"> --><span class="_2prG7">{{offer.promocode}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="v0d5B">
                                    {{offer.offer_type}}
                                </div>
                                <div class="mFwvW">
                                    {{offer.pvalues}}
                                </div>
                                <button class="_3dmIW _1KzVF" ng-click="applyPromoCode(offer.promocode,offer.id,offer.mobile,offer.maxdiscount)" data-dismiss="modal">APPLY COUPON</button>
                                <div></div>
                            <!-- </div> -->
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="paymentFailed" role="dialog" ng-show="paymentFailed">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"
                style="position: absolute;top: -16px;right: -16px;cursor: pointer;height: 32px;width: 32px;background: #fff;border-radius: 16px;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);border: 1px solid #e7eceb;text-align: center;font-size: 0px;opacity: 1;z-index:10"
                ng-click="modal_dis()"><img src="images/close.png" style="height: 30px"></button>
            <div class="modal-body" style="overflow-y: auto;height: 500px;">
                <div class="row">
                    <p>Order Not Completed</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="_3dmIW _1KzVF" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="serviceNotAble" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"
                style="position: absolute;top: -16px;right: -16px;cursor: pointer;height: 32px;width: 32px;background: #fff;border-radius: 16px;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);border: 1px solid #e7eceb;text-align: center;font-size: 0px;opacity: 1;z-index:10"
                ng-click="modal_dis()"><img src="images/close.png" style="height: 30px"></button>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                        <div class="">
                            <div class="">
                                <h4 style="text-align: left;font-weight: 700"><img src="images/favicon.png">Sorry for inconvenience
                                </h4>
                                <p>This mom is not serving in this location.</p>
                                <button aria-hidden="true" class="close" data-dismiss="modal"
                                    type="button" style="color:orange;opacity: 1" >Ok</button>
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
 
            $(".field-wrapper .field-placeholder").on("click", function () {
                $(this).closest(".field-wrapper").find("input").focus();
            });
            $(".field-wrapper input").on("keyup", function () {
                var value = $.trim($(this).val());
                if (value) {
                    $(this).closest(".field-wrapper").addClass("hasValue");
                } else {
                    $(this).closest(".field-wrapper").removeClass("hasValue");
                }
            });
 
        });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnGY6_Z1MwkULHgLqOXcDREIlzmUcyGoA&libraries=places&callback=initMap1"
        async defer></script>
  <script>
function initMap1() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 22.3038945, lng: 70.80215989999999},
      zoom: 13
    });
    var input = document.getElementById('demo1');
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
   
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    autocomplete.setComponentRestrictions(
            { 'country': ['in'] });
  
    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
    });
  
    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
    
        /* If the place has a geometry, then present it on a map. */
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }
        marker.setIcon(({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
      
        var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
            var latdict = JSON.stringify(place.geometry.location);
            var lat = JSON.parse(latdict).lat;
            var long = JSON.parse(latdict).lng;
            document.getElementById("lat1").value = lat;
            document.getElementById("lon1").value = long;
        }
      
        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
        
        /* Location details */
        document.getElementById('location-snap').value = place.formatted_address;
        document.getElementById('lat-span').value = place.geometry.location.lat();
        document.getElementById('lon-span').value = place.geometry.location.lng();
    });
}
</script>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
<!-- <script type="text/javascript">
    $('#apply_promo').on('shown.bs.modal', function () {
      $('#myInput').focus()
    })
</script> -->
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
<script type="text/javascript">
    $(function () {
 
            $(".field-wrapper .field-placeholder").on("click", function () {
                $(this).closest(".field-wrapper").find("input").focus();
            });
            $(".field-wrapper input").on("keyup", function () {
                var value = $.trim($(this).val());
                if (value) {
                    $(this).closest(".field-wrapper").addClass("hasValue");
                } else {
                    $(this).closest(".field-wrapper").removeClass("hasValue");
                }
            });
 
        });
</script>
<script type="text/javascript">
    $(function () {

            $(".field-wrapper .field-placeholder").on("click", function () {
                $(this).closest(".field-wrapper").find("input").focus();
            });
            $(".field-wrapper input").on("keyup", function () {
                var value = $.trim($(this).val());
                if (value) {
                    $(this).closest(".field-wrapper").addClass("hasValue");
                } else {
                    $(this).closest(".field-wrapper").removeClass("hasValue");
                }
            });

        });
</script>
<script type="text/javascript">
    // Restricts input for each element in the set of matched elements to the given inputFilter.
(function($) {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      } else {
        this.value = "";
      }
    });
  };
}(jQuery));
$("#phone_number").inputFilter(function(value) {
  return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 50000000000); });
</script>