<link href="css/about_page/gijgo.min.css" rel="stylesheet">
<!-- <link href="css/about_page/nice-select.css" rel="stylesheet"> -->
<!-- <link href="css/about_page/all.css" rel="stylesheet"> -->
<link href="css/about_page/style.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="css/new-web.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/alertify.min.css" > -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<style type="text/css">
  h1, h2, h3{
    margin-top: 0px !important;
}
</style>
<style type="text/css">
.fav-selection{
  margin-left: 115px;
}
.row{
 display: inherit;
flex-wrap: initial;
 margin-right: 0px !important; 
 margin-left: 0px !important; 
} 

@media only screen and (min-width: 768px){
.work_section {
    padding: 63px 0px 0px 0px;
}
}
.work_section {
    /* background-color: #97f96d; */
    padding: 50px 15px 50px 15px;
}
.work-sec {
    display: block;
    margin: 0px auto;
    width: 100%;
    /* max-width: 1194px; */
    text-align: center;
}
@media only screen and (min-width: 768px){
.estate_div {
    font-size: 38px !important;
    line-height: 45px;
    /* margin-top: 27px; */
    /* margin-bottom: 80px; */
}
}
.estate_div {
    color: #0e8aee;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (min-width: 768px){
.work_section_p {
    font-size: 18px;
    line-height: 34px;
    /* height: 652px; */
}
}
.work_section_p {
    color: #182656;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
    text-align: center;
}
.h4_text {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    color: #2b2828;
    /* text-shadow: 2px 2px 3px #5a3c3c; */
    text-align: center;
    font-weight: 700;
}
@media only screen and (max-width: 768px){
.work_section_icon {
    padding: 50px 0px 25px 0px;
}
.work_section_icon1 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-lines: multiple;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
     -webkit-flex-wrap: wrap !important; 
    -ms-flex-wrap: wrap !important; 
     flex-wrap: wrap !important; 
    font-size: 15px;
    max-width: 1229px;
    margin: 0px auto;
     -webkit-justify-content: center !important; 
     justify-content: center !important; 
}
.get-app .get-app-right .g-a-heading{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.container{
    width: 800px;
  }
}
.work_section_icon {
    width: 100%;
    padding: 25px;
}
@media only screen and (min-width: 519px){
.work_section_icondiv2 {
    margin: 0px;
    min-width: 178px;
    max-width: 282px;
}
}
.work_section_icondiv2 {
    width: 100%;
    min-width: 116px;
    max-width: 325px;
}
@media only screen and (min-width: 768px){
.work_section_img {
    margin: 0px auto 35px auto;
}
}
.work_section_img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
.work_section_img_text {
    margin: -50px 0px 5px 0px;
}

@media only screen and (min-width: 768px){
.work_section_img_text {
    font-size: 18px;
}
}
.work_section_img_text {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}
@media only screen and (min-width: 519px){
.work_section_icondiv2 {
    margin: 0px;
    min-width: 178px;
    max-width: 282px;
}
}
.work_section_icondiv2 {
    width: 100%;
    min-width: 116px;
    max-width: 325px;
}
._gnbkv9q {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
@media only screen and (min-width: 768px){
._gnbkv9q {
    margin: 0px auto 35px auto;
}

}
@media only screen and (min-width: 768px){
._1tl00rmj {
    margin: 0px auto 35px auto;
}
}
._1tl00rmj {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

._1tl00rmj1 {
    margin: 0px auto 35px auto;
}

._1tl00rmj1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
@media (max-width: 480px){
.footer-links ul li a {
    font-size: 11px !important;
}
}
.btn_4{
  border: 1px;
}
</style>  
  
<section class="breadcrumb1 breadcrumb_bg1" style="background-image: url('../images/breadcrumb22.png');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner1 text-center">
          <div class="breadcrumb_iner_item1">
            <h2 class="h2_text">Contact Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=" section_padding ng-scope col-sm-12 col-md-12" id="register">
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              <div class="">
                <!-- <p>Register</p> -->
                <h2>Get in Touch</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="regervation_part_iner">
               
                <form id="contact_form" name="personForm" novalidate ng-submit="personForm.$valid &&sendMessage()">
                    <div class="form-group col-md-6 col-sm-6">
                      <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="name_value" placeholder="Name *" required="" type="text">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <input id="phone_no" class="form-control" placeholder="Phone No" type="text" name="txtphone" ng-model="txtphone" ng-pattern="/^[0-9]{1,10}$/" required />
                      <span style="color:Red" ng-show="personForm.txtphone.$error.required"> Required! </span>
                      <span style="color:Red" ng-show="personForm.txtphone.$dirty&&personForm.txtphone.$error.pattern">Only Numbers Allowed, Maximum 10 Characters</span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <input id="email" class="form-control" type="text" placeholder="Email *" name="email" ng-model="txtmail1" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                      <span style="color:Red" ng-show="personForm.email.$error.required"> Required! </span>
                      <span style="color:Red" ng-show="personForm.email.$dirty&&personForm.email.$error.pattern">Please Enter Valid Email</span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <input id="pincode" class="form-control" placeholder="pincode" type="text" name="pincode" ng-model="txtpin" ng-pattern="/^[0-9]{1,6}$/" required />
                      <span style="color:Red" ng-show="personForm.pincode.$error.required"> Required! </span>
                      <span style="color:Red" ng-show="personForm.pincode.$dirty&&personForm.pincode.$error.pattern">Only Numbers Allowed, Maximum 5 Characters</span>
                    </div>
                    <div class="form-group col-md-12 col-sm-6">
                      <textarea id="message" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="message" placeholder="Your Note *" required=""></textarea>
                    </div>
                    <button class="btn_4" type="submit">Submit Form</button><br /><br />
                    <!-- <span>{{msg}}</span> -->

                </form>
              </div>
            </div>
          </div>
        </div>
      </section>