
<link rel="stylesheet" type="text/css" href="css/new-web.css">
<style type="text/css">
.fav-selection{
  margin-left: 115px;
}
.row{
 display: inherit;
flex-wrap: initial;
 margin-right: 0px !important; 
 margin-left: 0px !important; 
} 
 .datepicker-container{
  display: none;
}
@media only screen and (min-width: 768px){
.work_section {
    padding: 63px 0px 0px 0px;
}
}
.work_section {
    /* background-color: #97f96d; */
    padding: 50px 15px 50px 15px;
}
.work-sec {
    display: block;
    margin: 0px auto;
    width: 100%;
    /* max-width: 1194px; */
    text-align: center;
}
@media only screen and (min-width: 768px){
.estate_div {
    font-size: 38px !important;
    line-height: 45px;
    /* margin-top: 27px; */
    /* margin-bottom: 80px; */
}
}
.estate_div {
    color: #0e8aee;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (min-width: 768px){
.work_section_p {
    font-size: 18px;
    line-height: 34px;
    /* height: 652px; */
}
}
.work_section_p {
    color: #182656;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
    text-align: center;
}
.h4_text {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    color: #2b2828;
    /* text-shadow: 2px 2px 3px #5a3c3c; */
    text-align: center;
    font-weight: 700;
}
@media only screen and (max-width: 768px){
.work_section_icon {
    padding: 50px 0px 25px 0px;
}
.work_section_icon1 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-lines: multiple;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
     -webkit-flex-wrap: wrap !important; 
    -ms-flex-wrap: wrap !important; 
     flex-wrap: wrap !important; 
    font-size: 15px;
    max-width: 1229px;
    margin: 0px auto;
     -webkit-justify-content: center !important; 
     justify-content: center !important; 
}
.get-app .get-app-right .g-a-heading{
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.container{
    width: 800px;
  }
}
.work_section_icon {
    width: 100%;
    padding: 25px;
}
@media only screen and (min-width: 519px){
.work_section_icondiv2 {
    margin: 0px;
    min-width: 178px;
    max-width: 282px;
}
}
.work_section_icondiv2 {
    width: 100%;
    min-width: 116px;
    max-width: 325px;
}
@media only screen and (min-width: 768px){
.work_section_img {
    margin: 0px auto 35px auto;
}
}
.work_section_img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
.work_section_img_text {
    margin: -50px 0px 5px 0px;
}

@media only screen and (min-width: 768px){
.work_section_img_text {
    font-size: 18px;
}
}
.work_section_img_text {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}
@media only screen and (min-width: 519px){
.work_section_icondiv2 {
    margin: 0px;
    min-width: 178px;
    max-width: 282px;
}
}
.work_section_icondiv2 {
    width: 100%;
    min-width: 116px;
    max-width: 325px;
}
._gnbkv9q {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
@media only screen and (min-width: 768px){
._gnbkv9q {
    /*margin: 0px auto 35px auto;*/
}

}
@media only screen and (min-width: 768px){
._1tl00rmj {
    margin: 0px auto 35px auto;
}
}
._1tl00rmj {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

._1tl00rmj1 {
    margin: 0px auto 35px auto;
}

._1tl00rmj1 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    width: 147px;
    height: 125px;
    margin: 0px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}
@media (max-width: 480px){
.footer-links ul li a {
    font-size: 11px !important;
}
}
/* Styles go here */

/*.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}*/
.my-controller small {
  color: #c99;
}
.other-controller {
  border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}
.other-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}
.location_add{
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
</style>
    <div id="main-wrapper">
        <div class="content-body">          
            <div class="">
                <div class="row" style="padding: 25px;padding: 0 20px;background-color: #171a29;">
                    <div id="mixedSlider">
                        <div class="MS-content">
                            <div class="item col-lg-4 col-sm-6" ng-repeat="offer in offerList | limitTo: 4">
                              <a href="/#!/main/offerApply">
                                <div class="imgTitle card gradient-2">
                                    <img src="{{offer.image}}" alt="" class="offer_Image" />
                                </div>
                              </a>
                            </div>                                                     
                        </div>
                        <div class="MS-controls">
                          <button class="MS-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                          <button class="MS-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-3">
                  <div class="row">                   
                  <div class="_3vspF" ng-show="no_momChef">
                    <div class="hFjjz">
                      <div class="_1lyfX _48z2D"></div>
                      <!-- <div class="_3Ognu">
                        Location unserviceable
                      </div> -->
                      <div class="_1CN4Y">
                        Sorry! There is no MOMCHEF serving in this location.
                      </div><a class="_35xiX" href="/">CHANGE LOCATION</a>
                    </div>
                  </div>
                  <div class="Qe2QU">
                    <div><div>
                      <div id="filter_11711" class="_1Z9MR">
                        <div class="_2FpcR" ng-show="favourite_mom">Favourite MOM Chefs</div>
                        <div class="_2DF5K _1Z9MR" ng-show="favourite_mom">
                          <div class=" row">
                          <div class="_3XX_A  col-md-3" ng-repeat="mom in momList" style="margin-bottom: 10px;height: 55vh;">
                            <!-- {{mom.fisrtName}} -->
                            <a href="" class="_1j_Yo" ng-click="getFabData(mom.id,mom.mobile,mom.firstName,mom.middleName,mom.lastName,mom.description,mom.rating,mom.specialization,mom.image,mom.address,mom.latitude,mom.longitude)"><div class="_1HEuF">
                              <div class="_3FR5S">
                                <div class="efp8s" ng-if="mom.image != ''">
                                  <img class="_2tuBw _12_oN" alt="Healthie" src="{{mom.image}}">
                                </div>
                                <div class="efp8s" ng-if="mom.image == ''">
                                  <img class="_2tuBw _12_oN" alt="Indian tandoori chicken" src="images/food_vendor.png">
                                </div>
                                <div class="_3Ztcd">
                                  <h3 style="font-size: 16px;margin-bottom: 3px;">{{mom.firstName}} {{mom.middleName}} {{mom.lastName}}</h3>
                                  <div class="nA6kb location_add">{{mom.specialization}}</div>
                                </div>
                                <div class="_3Mn31">
                                  <div class="_9uwBC wY0my">
                                    <span class="icon-star _537e4"></span><span>{{mom.rating}}</span>
                                  </div>
                                </div>
                                </div>
                                <div class="_3B2qG">
                                  <span role="button" aria-label="Open" class="_2ECk4 _24tlh">Quick View</span>
                                </div>
                              </div>
                            </a>

                          </div>
                         
                         </div>
                        </div>
                <div id="filter_11713" class="_1Z9MR" ng-show="vendor_list"><div class="_2FpcR">MOMCHEF List</div>


                              <div class="my-controller">
          <!-- <h1>Tasty Paginated Menu</h1> -->

          <!-- <small>this is in "MyController"</small> -->


          <!-- <div class="row">
            <div class="col-xs-4">
              <h3>Meals Page: {{ currentPage }}</h3>
            </div>
            <div class="col-xs-4">
              <label for="search">Search:</label>
              <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-4">
              <label for="search">items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
          </div>
          <br> -->
          <!-- <div class="panel panel-default"> -->
            <!-- <div class="panel-body"> -->

              <!-- <ul>
                <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>
                
              </ul> -->
              <div class="_2DF5K _1Z9MR">
                  <div class=" row">
                    <div dir-paginate="vendor in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage" class="_3XX_A col-md-3" style="margin-bottom: 10px;height: 55vh;">
                      <a href="" class="_1j_Yo" ng-click="getVenderData(vendor.id,vendor.mobile,vendor.fisrtName,vendor.middleName,vendor.lastName,vendor.description,vendor.rating,vendor.specialization,vendor.image,vendor.address,vendor.mobile,vendor.flag,vendor.latitude,vendor.longitude)" style="width: 100%">
                        <div class="_1HEuF">
                          <span ng-if="vendor.onlineStatus == 0" style="color: red">Close</span>
                          <div class="_3FR5S">
                            <div class="efp8s" ng-if="vendor.image != ''">
                              <img class="_2tuBw _12_oN" alt="Indian tandoori chicken" src="{{vendor.image}}"></div>

                              <div class="efp8s" ng-if="vendor.image == ''">
                              <img class="_2tuBw _12_oN" alt="Indian tandoori chicken" src="images/food_vendor.png"></div>

                              <div class="_3Ztcd">
                                <div class="nA6kb"><span style="font-size: 17px;">{{vendor.fisrtName}} {{vendor.middleName}} {{vendor.lastName}}</span></div>
                                <div class="nA6kb location_add">{{vendor.specialization}}</div>
                                <!-- <div class="_1gURR" title="Tandoor , indian">Tandoor , indian</div> -->
                              </div>
                              <div class="_3Mn31">
                              <div class="_9uwBC wY0my">
                                  <span class="icon-star _537e4"></span><span>{{vendor.rating}}</span>
                              </div>
                                  <!-- <div>•</div> -->
                                  <div><span style="padding-right: 6px;color: orange"><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{vendor.estimateTime}}</div>
                                  <!-- <div>•</div> -->
                                  <!-- <div class="nVWSi">₹300 FOR TWO</div> -->
                              </div>
                                 <!--  <div class="Zlfdx">
                                    <span class="icon-offer-filled _2fujs"></span><span class="sNAfh">Free Delivery</span></div> -->
                                  </div>
                                  <div class="_3B2qG"><span role="button" aria-label="Open" class="_2ECk4 _24tlh">Quick View</span></div></div>
                                </a>
                              </div>
                            </div>
                           
                            <!-- 
                            <div class="MZy1T">
                                </div> -->
                              </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>

        <!-- <div class="other-controller"> -->
          <!-- <small>this is in "OtherController"</small> -->
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        <!-- </div> -->
                              <!-- <div id="filter_11713" class="_1Z9MR" ng-show="top_rated_list"><div class="_2FpcR">Top Rated List</div><div class="_2DF5K _1Z9MR" >
                                <div class=" row">
                                  <div class="_3XX_A col-md-3" ng-repeat="toprated in topratedList" style="margin-bottom: 10px;height: 55vh;">
                                    <a href="" class="_1j_Yo" ng-click="getVenderData(toprated.id,toprated.mobile,toprated.fisrtName,toprated.middleName,toprated.lastName,toprated.description,toprated.rating,toprated.specialization,toprated.image,toprated.address, toprated.mobile,toprated.flag,toprated.latitude,toprated.longitude)">
                                      <div class="_1HEuF">
                                        <div class="_3FR5S">
                                          <div class="efp8s">
                                            <img class="_2tuBw _12_oN" alt="Indian tandoori chicken" width="254" height="160" src="{{toprated.image}}{{toprated.image_name}}"></div>
                                            <div class="_3Ztcd">
                                              <div class="nA6kb"><span style="font-size: 17px;">{{toprated.fisrtName}} {{toprated.middleName}} {{toprated.lastName}}</span></div>
                                              <div class="nA6kb">{{toprated.specialization}}</div>
                                            </div>
                                            <div class="_3Mn31">
                                               <div class="_9uwBC wY0my">
                                                  <span class="icon-star _537e4"></span><span>{{toprated.rating}}</span>
                                              </div>
                                                <div><span style="padding-right: 6px; color: orange"><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{toprated.estimateTime}}</div>
                                            </div>
                                                </div>
                                                <div class="_3B2qG"><span role="button" aria-label="Open" class="_2ECk4 _24tlh">Quick View</span></div></div>
                                              </a>
                                            </div>
                                            </div>
                                          </div>
                              </div> -->
              </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Your Favourite MOM's -->
    <div class="_2FpcR MJ8mb heading" ng-show="favourite_mom">Favourite MOM Chefs</div>
      <div style="margin-bottom: 40px;" ng-repeat="mom in momList">
      <a class="MJ8mb _19il5 _11Vk3" href="" id="mobile_version_list" ng-click="getFabData(mom.id,mom.mobile,mom.firstName,mom.middleName,mom.lastName,mom.description,mom.rating,mom.specialization,mom.image,mom.address,mom.latitude,mom.longitude)">
      <div class="_1iWtn hga1y" style="background: rgb(251, 238, 215);" ng-if="mom.image_name != ''">
        <div class="_2MwzB" style="background-image: url({{mom.image}}{{mom.image}});"></div>
      </div>
      <div class="_1iWtn hga1y" style="background: rgb(251, 238, 215);" ng-if="mom.image == ''">
        <div class="_2MwzB"><img src="../images/food_vendor.png"></div>
      </div>
      <div class="_2Ssn1">
        <div class="_2ng_F">
          <span style="font-size: 20px;">{{mom.firstName}} {{mom.middleName}} {{mom.lastName}}</span>
         
        </div>
        <div class="_3Fork">
          <div class="_7xBuY location_add">
            {{mom.specialization}}
          </div>
        </div>
        <div class="_2OqRc">
          <div class="_1iiS5">
            <!-- <i class="icon-offer _1_9TV"></i> -->
            <div class="_3TJm4">
              <!-- 60% off | Use coupon WELCOME60 -->
            </div>
          </div>
        </div>
        <div class="_2llmt">
          <div class="_1GE0T">
            <span class="_1aApz icon-star"></span><span class="_14_EP">{{mom.rating}}</span>
          </div><span class="_3OCQu"></span>
          <div class="_3OWMR">
            <!-- 41 MINS -->
          </div><span class="_3OCQu"></span>
        </div>
      </div>
      <div>
        <div></div>
      </div></a>
    </div>
     <!-- Vendor List -->
     <div class="_2FpcR MJ8mb heading" ng-show="favourite_mom">MOMCHEF List</div>
    <div style="margin-bottom: 40px;" ng-repeat="vendor in vendorList">
      <a class="MJ8mb _19il5 _11Vk3" href="" id="mobile_version_list" ng-click="getVenderData(vendor.id,vendor.mobile,vendor.fisrtName,vendor.middleName,vendor.lastName,vendor.description,vendor.rating,vendor.specialization,vendor.image,vendor.address,vendor.mobile,vendor.flag,vendor.latitude,vendor.longitude)">
      <div class="_1iWtn hga1y" style="background: rgb(251, 238, 215);" ng-if="vendor.image != ''">
        <div class="_2MwzB" style="background-image: url({{vendor.image}});"></div>
      </div>
      <div class="_1iWtn hga1y" style="background: rgb(251, 238, 215);" ng-if="vendor.image == ''">
        <div class="_2MwzB"><img src="../images/food_vendor.png"></div>
      </div>
      <div class="_2Ssn1">
        <div class="_2ng_F">
         {{vendor.fisrtName}} {{vendor.middleName}} {{vendor.lastName}}
        </div>
        <div class="_3Fork">
          <div class="_7xBuY location_add">
            {{vendor.specialization}}
          </div>
        </div>
        <div class="_2OqRc">
          <div class="_1iiS5">
            <!-- <i class="icon-offer _1_9TV"></i> -->
            <div class="_3TJm4">
              <!-- 60% off | Use coupon WELCOME60 -->
            </div>
          </div>
        </div>
        <div class="_2llmt">
          <div class="_1GE0T">
            <span class="_1aApz icon-star"></span><span class="_14_EP">{{vendor.rating}}</span>
          </div><span class="_3OCQu"></span>
          <div class="_3OWMR">
            <!-- 41 MINS -->
          </div><span class="_3OCQu"></span>
          <div class="_1865K">
            <div><span style="padding-right: 6px;color: orange"><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{vendor.estimateTime}}</div>
            <!-- <span class="_2k-2j">400 FOR TWO</span> -->
          </div>
        </div>
      </div>
      <div>
        <div></div>
      </div></a>
    </div>
    <!-- Top Rated List -->
   <!--  <div class="_2FpcR MJ8mb heading" ng-show="favourite_mom">Top Rated List</div>
      <div style="margin-bottom: 40px;" ng-repeat="toprated in topratedList">
      <a class="MJ8mb _19il5 _11Vk3" href="" id="mobile_version_list">
      <div class="_1iWtn hga1y" style="background: rgb(251, 238, 215);"  ng-click="getVenderData(toprated.id,toprated.mobile,toprated.fisrtName,toprated.middleName,toprated.lastName,toprated.description,toprated.rating,toprated.specialization,toprated.image,toprated.flag,toprated.latitude,toprated.longitude)">
        <div class="_2MwzB" style="background-image: url({{toprated.image}}{{toprated.image_name}});"></div>
      </div>
      <div class="_2Ssn1">
        <div class="_2ng_F">
          {{toprated.fisrtName}} {{toprated.middleName}} {{toprated.lastName}}
        </div>
        <div class="_3Fork">
          <div class="_7xBuY">
           {{toprated.specialization}}
          </div>
        </div>
        <div class="_2OqRc">
          <div class="_1iiS5">
            <div class="_3TJm4">
            </div>
          </div>
        </div>
        <div class="_2llmt">
          <div class="_1GE0T">
            <span class="_1aApz icon-star"></span><span class="_14_EP">{{toprated.rating}}</span>
          </div><span class="_3OCQu"></span>
          <div class="_3OWMR">
          </div><span class="_3OCQu"></span>
          <div class="_1865K">
            <div><span style="padding-right: 6px;color: orange"><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{toprated.estimateTime}}</div>
          </div>
        </div>
      </div>
      <div>
        <div></div>
      </div></a>
    </div> -->
    
    <!-- <div class="get-fav-section col-md-12">
      <h2 class="get-heading">Order Your Favorite Meals in 4 Easy Steps</h2>
      <ul class="get-fav-list">
        <li><span class="g-f-icon fav-selection"><img alt="" src="images/search-icon.png"></span><span class="g-f-heading">1. Search</span> <span class="g-f-detail">Find MOMCHEF Meals near you by entering your location</span></li>
        <li><span class="g-f-icon fav-selection"><img alt="" src="images/choose-icon.png"></span><span class="g-f-heading">2. Choose</span><span class="g-f-detail">Browse through our exclusive menu</span></li>
        <li><span class="g-f-icon fav-selection"><img alt="" src="images/pay-icon.png"></span><span class="g-f-heading">3. Pay</span><span class="g-f-detail">Fast &amp; Secure Online Payments or Pay on Delivery</span></li>
        <li><span class="g-f-icon fav-selection"><img alt="" src="images/enjoy-icon.png"></span><span class="g-f-heading">4. Enjoy</span><span class="g-f-detail">Fresh &amp; Tasty MOMCHEF Meals arrive at your doorstep</span></li>
      </ul>
    </div> -->
    <section class="">
        <div id="work">
        <div class="work_section" style="background-color: #f0f4f5">
          <div class="work-sec">
            <div class="estate_div">
              <h4 class="h4_text">Order Your Favorite Meals in 4 Easy Steps</h4>
            </div>
            <div class="work_section_icon">
              <div class="work_section_icon1">
                <div class="work_section_icondiv2">
                  <div class="work_section_img">
                    <img alt="" src="images/search-icon.png">
                  </div>
                  <div class="work_section_img_text">
                   1. Search
                  </div>
                  <p>Find MOMCHEF Meals near you by entering your location</p>
                </div>
                <div class="work_section_icondiv2">
                  <div class="_gnbkv9q">
                    <img alt="" src="images/choose-icon.png">
                  </div>
                  <div class="work_section_img_text">
                    2. Choose
                  </div>
                  <p>Browse through our exclusive menu</p>
                  <div class="_v1sugh">
                    <!-- Our Licensed Local Experts will get you pre-approved and help you find your new dream home. -->
                  </div>
                </div>
                <div class="work_section_icondiv2">
                  <div class="_1tl00rmj">
                    <img alt="" src="images/pay-icon.png">
                  </div>
                  <div class="work_section_img_text">
                    3. Pay
                  </div>
                  <p>Fast & Secure Online Payments or Pay on Delivery</p>
                  <div class="_v1sugh"></div>
                </div>
                <div class="work_section_icondiv2">
                  <div class="_1tl00rmj1">
                    <img alt="" src="images/enjoy-icon.png">
                  </div>
                  <div class="work_section_img_text">
                    4. Enjoy
                  </div>
                  <p>Fresh & Tasty MOMCHEF Meals arrive at your doorstep</p>
                  <div class="_v1sugh"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    <div class="get-app col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-5">
          <div class="app-mobile"><img alt="" src="/images/app-mobile.png" class="mobile_img"></div>
        </div>
        <div class="col-sm-6 col-md-7">
          <div class="get-app-right">
            <h3 class="g-a-heading">Looking for MOM Cooked Food ? Get the app!</h3>
            <p class="g-a-sub-heading">We’ll send you a link, open it on your phone to download the app</p>
            <div class="col-sm-9 no-padding-l">
              <form accept-charset="utf-8" action="javascript:void(0)" autocomplete="off" id="ApiStoreForm" method="post" name="ApiStoreForm">
                <div style="display:none;">
                  <input name="_method" type="hidden" value="POST">
                </div><input id="ApiStoreType" name="data[ApiStore][type]" type="hidden" value="">
                <div class="input-group">
                  <form id="mobile_form">
                    <span class="input-group-addon">+91</span>
                    <input class="form-control" id="Mobile" name="data[ApiStore][mobile]" placeholder="Enter phone number" type="tel" style="width: 100% !important" maxlength="10"><span class="input-group-addon orange-btn jq_api_url" ng-click="textAppLink()">Text App Link</span>
                  </form>
                </div>
                <div class="success-msg no-margin-l no-margin-r padding_left30 rows" id="MobileSuccessBox" style="display:none;z-index: 999;background:#fff;"></div>
                <div class="or-devider">
                  <span>OR</span>
                </div>
                <div class="input-group">
                  <form id="email_form">
                    <label class="control-label hide"></label><input class="form-control" id="Email" name="data[ApiStore][email]" placeholder="Enter your email address" type="text" style="width: 100% !important" ><span class="input-group-addon orange-btn jq_api_url" ng-click="emailAppLink()">Email App Link</span>
                  </form>
                </div>
                <div class="success-msg no-margin-l no-margin-r padding_left30 rows" id="emailSuccessBox" style="display:none;z-index: 999;background:#fff;"></div>
              </form>
              <div class="rows margin_top20 play-store-btn">
                <a class="pull-left margin_right20" href="https://itunes.apple.com/in/app/misrii/id1186258683?mt=8" target="_blank"><img alt="" src="/img/app-store-button.png?1484031855"></a><a class="pull-left" href="https://play.google.com/store/apps/details?id=com.misrii" target="_blank"><img alt="" src="/img/google-play-button.png?1483453612"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12" style="padding: 0px !important;"> -->
      
    <!-- </div> -->
  </div>
  <!-- <section class="regervation_part section_padding ng-scope col-sm-12 col-md-12" id="register">
        <div class="container">
          <div class="row">
            <div class="col-xl-5">
              <div class="section_tittle">
                <p>Register</p>
                <h2>Be MOM Chef</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="regervation_part_iner">
                <form class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                  <div class="col-lg-6 col-sm-12 col-xs-12 alert alert-success ng-hide">
                    <strong>Your Form has been Succefully Submitted!!</strong>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="inputEmail4" placeholder="Name *" required="" type="text">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="inputPassword4" placeholder=" Phone Number *" required="" type="number" maxlength="10">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" id="inputemail" placeholder="Email *" required="" type="email">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="pincode" placeholder="pincode *" required="" type="number">
                    </div>
                    <div class="form-group col-md-12 col-sm-6">
                      <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="message" placeholder="Your Note *" required="">
                    </div>
                    <div class="regerv_btn">
                      <a class="btn_4" ng-click="momChefRegister()">Register</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section> -->
</div>
</div>
</div>
</div>
<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"
                style="position: absolute;top: -16px;right: -16px;cursor: pointer;height: 32px;width: 32px;background: #fff;border-radius: 16px;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);border: 1px solid #e7eceb;text-align: center;font-size: 0px;opacity: 1;z-index:10"
                ng-click="modal_dis()"><img src="images/close.png" style="height: 30px"></button>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                        <div class="">
                            <div class="">
                                <h4 style="text-align: left;font-weight: 700"><img src="images/favicon.png">Sorry for inconvenience
                                </h4>
                                <p>Sorry this MOM is not serving any order now. Please select the another MOM the proceed.</p>
                                <button aria-hidden="true" class="close" data-dismiss="modal"
                                    type="button" style="color:orange;opacity: 1" >Ok</button>
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/multislider.js"></script> 
<script>
    $('#mixedSlider').multislider({
        duration: 0,
        interval: 0,

    });
</script>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>